@CHARSET "UTF-8";

* {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

body {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #333;
	background-color: #fff;
	color: #333;
}

a,img {
	border: 0;
}

a {
	color: #4183c4;
	text-decoration: none;
}

a:hover,a:focus {
	color: #4183c4;
	text-decoration: underline;
}

.a-help{
	cursor:pointer;
	color:#666;
}
.a-help:hover,a:focus{
	text-decoration: none;
	color: #4183c4;
}