<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
			http://www.springframework.org/schema/beans 
			http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
			http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
			http://www.springframework.org/schema/aop 
			http://www.springframework.org/schema/aop/spring-aop-3.1.xsd">

	<!-- 配置数据源 -->
	<bean id="dataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource">
		<property name="driverClassName" value="org.gjt.mm.mysql.Driver">
		</property>
		<property name="url"
			value="jdbc:mysql://115.28.149.204:3306/HelloZw?useUnicode=true&amp;characterEncoding=utf8&amp;autoReconnect=true&amp;autoReconnectForPools=true">
		</property>
		<property name="username" value="root">
		</property>
		<property name="password" value="a5f3f3d3ac">
		</property>
	</bean>

	<!-- 配置SessionFactory -->
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="configLocation" value="classpath:hibernate.cfg.xml"></property>
		<property name="dataSource" ref="dataSource">
		</property>
	</bean>

	<!-- 配置TransactionManager -->
	<bean id="myTxManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory" ref="mySessionFactory" />
	</bean>

	<!-- 配置事务策略 -->
	<tx:advice id="txAdvice" transaction-manager="myTxManager">
		<tx:attributes>
			<tx:method name="find*" propagation="REQUIRED" read-only="true" />
			<tx:method name="save*" propagation="REQUIRED" />
			<tx:method name="del*" propagation="REQUIRED" />
			<tx:method name="update*" propagation="REQUIRED" />
			<tx:method name="*" propagation="SUPPORTS" read-only="true" />
		</tx:attributes>
	</tx:advice>

	<aop:config>
		<aop:pointcut id="serviceMethods"
			expression="execution(* com.hellozw.service.*.*(..))" />
		<aop:advisor advice-ref="txAdvice" pointcut-ref="serviceMethods" />
	</aop:config>

	<bean id="personNavDAO" class="com.hellozw.dao.hibernate.PersonNavHibernateDAO">
		<property name="sessionFactory">
			<ref local="mySessionFactory"></ref>
		</property>
	</bean>

	<bean id="linkDAO" class="com.hellozw.dao.hibernate.LinkHibernateDAO">
		<property name="sessionFactory">
			<ref local="mySessionFactory"></ref>
		</property>
	</bean>

	<bean id="personNavService" class="com.hellozw.service.spring.PersonNavSpringImpl">
		<property name="personNavDAO">
			<ref local="personNavDAO"></ref>
		</property>
	</bean>

	<bean id="linkService" class="com.hellozw.service.spring.LinkSpringImpl">
		<property name="linkDAO">
			<ref local="linkDAO"></ref>
		</property>
	</bean>

	<bean id="personNavAction" class="com.hellozw.action.MainAction"
		scope="prototype">
		<property name="personNavService">
			<ref local="personNavService"></ref>
		</property>
		<property name="linkService">
			<ref local="linkService"></ref>
		</property>
	</bean>

	<bean id="linkAction" class="com.hellozw.action.LinkAction" scope="prototype">
		<property name="linkService">
			<ref local="linkService"></ref>
		</property>
	</bean>
</beans>
 